<div x-data="{ open: false }" class="relative">
  <button
    type="button"
    @click="open = !open"
    @click.away="open = false"
    class="flex items-center gap-2 rounded-lg px-3 py-2 text-sm font-medium text-gray-700 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500"
    aria-haspopup="true"
    aria-expanded="false"
    :aria-expanded="open.toString()"
    aria-label="<%= _('language') %>"
  >
    <span class="text-xl"><%= current_locale_info[:flag] %></span>
    <span class="hidden sm:inline"><%= current_locale_info[:name] %></span>
    <svg
      class="size-4 transition-transform"
      :class="{ 'rotate-180': open }"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      aria-hidden="true"
    >
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
    </svg>
  </button>

  <div
    x-show="open"
    x-cloak
    x-transition:enter="transition ease-out duration-100"
    x-transition:enter-start="transform opacity-0 scale-95"
    x-transition:enter-end="transform opacity-100 scale-100"
    x-transition:leave="transition ease-in duration-75"
    x-transition:leave-start="transform opacity-100 scale-100"
    x-transition:leave-end="transform opacity-0 scale-95"
    class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="language-menu"
  >
    <div class="py-1" role="none">
      <% available_locales.each do |locale| %>
        <%= link_to "#{locale[:flag]} #{locale[:name]}",
            request.params.merge(locale: locale[:code]),
            class: "flex items-center gap-2 px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 #{@current_locale == locale[:code] ? 'bg-gray-50 font-medium' : ''}",
            role: "menuitem",
            data: { turbo: false } %>
      <% end %>
    </div>
  </div>
</div>
