<div class="space-y-4 rounded-xl border border-slate-200 p-5">
  <div>
    <h4 class="mb-1 font-semibold"><%= @title %></h4>
    <h5 class="text-sm text-slate-600">Project for <a href="#" class="font-medium text-blue-600"><%= @client %></a></h5>
  </div>
  <div class="space-y-3">
    <%# Example task %>
    <a href="#" class="flex flex-col rounded-sm bg-slate-50 hover:bg-slate-100 active:bg-slate-50">
      <div class="space-y-2 p-3 text-sm">
        <div class="h-1.5 w-8 rounded-sm bg-orange-400"></div>
        <p>Main Layout</p>
      </div>
    </a>
  </div>
</div>
