<%# app/components/sidebar_nav_item_component.html.erb %>
<%= link_to @href, class: "flex items-center gap-3 rounded-lg px-4 py-2.5 font-semibold text-slate-600 #{active?(@href) ? active_classes : inactive_classes}" do %>
  <svg class="inline-block size-4 text-slate-400" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
    <%= raw icon_path %>
  </svg>
  <span><%= @label %></span>
<% end %>
