<h1 class="text-2xl font-bold mb-4">Users</h1>
<%= turbo_frame_tag "users_list" do %>
  <%= render SmartTableComponent.new(
    columns: [:email],
    records: @records,
    pagy: @pagy,
    ransack: @ransack,
    result_frame_id: "users_list"
  ) %>
  <%= turbo_frame_tag "modal" do %>
    <%= link_to "New User", new_user_path, class: p_tag_classes %>
  <% end %>
<% end %>
